<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Account Holder Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Transaction Type</Data></Cell>
        <Cell><Data ss:Type="String">Amount</Data></Cell>
        <Cell><Data ss:Type="String">Transaction Date</Data></Cell>
      </Row>
    <% @transactions.each do |transaction| %>
      <Row>
        <Cell><Data ss:Type="String"><%= transaction.user.full_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= transaction.user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= transaction.t_type %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= transaction.amount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= transaction.created_on %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
