<div class="row">
	<div class="col-lg-6">
		
		<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Firstname</th>
		        <th>Lastname</th>
		        <th>Status</th>
		        <th>Email</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<%@users.each do |user|%>
			      <tr>
							<td><%= user.first_name%></td>
							<td><%= user.last_name%></td>
							<td><%= is_active(user.is_active) %></td>
							<td><%= user.email%></td>

			        <td><%= link_to 'Edit', user_edit_path(user), class: "btn btn-warning" %></td>
			        <td><%= link_to 'Transactions', user_transactions_path(user), class: "btn btn-info" %></td>

			      </tr>
		    	<%end%>
		    </tbody>
		  </table>


	</div>
</div>

