<div class="row">
	<%= form_for @user, as: :user, url: home_update_path, method: :patch do |f| %>

		<div class="col-lg-4">
			<div class="form-group">
				<%= f.label :first_name%>
				<%= f.text_field :first_name, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :last_name%>
				<%= f.text_field :last_name, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :phone_number%>
				<%= f.number_field :ph, class: "form-control" %>
			</div>
		</div>
		<div class="col-lg-2"></div>
		<div class="col-lg-4">
			<div class="form-group">
				<%= f.label :status%>
				<p class="user-info"> <%= is_active(@user.is_active) %> </p>
			</div>
			<div class="form-group">
				<%= f.label :email%>
				<p class="user-info">
					<%= @user.email%>
				</p>
			</div>
			<div class="form-group">
				<%= f.label :amount%>
				<p class="user-info">
					<%= @user.amount%>
				</p>
			</div>


		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= f.submit 'Update Profile', class: 'btn btn-success' %>
				<%= link_to "Home", root_path, class: 'btn btn-warning' %>
			</div>
		</div>
	<% end %>
</div>
